#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.PostForm {
  border: 1px white solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  background-color: #333;
}

.PostsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostCard {
  border: 1px white solid;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #1a1a1a;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #888;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
